body {
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Calibri Light, sans-serif;
    font-size: 3em;
    align-self: center;
}

.Spielfeld {
    margin: 1.5em;
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: right;
}


#handkarten {
    display: flex;
    align-content: center;
}
  
#handkarte{
    display: flex;
    background-color: #eeeeee;
    border-radius: 10px;
    width: 14em;
    height: 18em;
    margin: 2em;
    flex-direction: column;

}

.zeichen {
    font-size: 3em;
    display: flex;
    height: 1em; 
    padding-left: 0.5em;
}

.zahl {
    font-size: 1.7em;
    display: flex;
    height: 1.3em;
    width: 1.1em;
    align-self: center;
}

.roteKarte {
    display: flex;
    width: 1.7em;
    color: #ef7564;
    font-size: 2em;
}

.schwarzeKarte {
    color: black;
    font-size: 2em;
    height: 1.3em;
    display: flex;
    width: 3.7em;
}

.orangeKarte {
    color: #cba692;
    font-size: 2em;
    height: 1.3em;
    display: flex;
    width: 3.2em;
}

.grüneKarte {
    color: #80786b;
    font-size: 2em;
    height: 1.3em;
    display: flex;
    width: 2.5em;
}

.ablegenundziehen {
    display: flex;
    flex-direction: row;
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
    align-self: center;
    flex-direction: row;
    width: 100%;
    bottom: 0;
    z-index: 10;
}
  
.ablegestapel {
    background-color: #030303;
    width: 8em;
    height: 12em;
    display: flex;
    margin: 0em;
    bottom: 0;
}
  
.deck {
    width: 15em;
    height: 20em;
    display: flex;
    margin: 0em 10em;
    bottom: 0;
}

.kartenrücken {
    width: 15em;
    height: 20em;
    cursor: pointer;
}

@media only screen and (min-width: 1280px){
    #handkarte{
        display: flex;
        background-color: #eeeeee;
        border-radius: 10px;
        width: 12em;
        height: 16em;
        margin: 1.4em;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1920px){
    #handkarte{
        display: flex;
        background-color: #eeeeee;
        border-radius: 10px;
        width: 14em;
        height: 18em;
        margin: 2.4em;
        flex-direction: column;
    }
}
