/**
		Aufgabe: (Aufgabe 3)
		Name: (Elisabeth Haase)
		Matrikel: (256436)
		Datum: (13.04.2018)
		Hiermit versichere ich, dass ich diesen
		Code selbst geschrieben habe. Er wurde
		nicht kopiert und auch nicht diktiert.
		**/
		

		
		body {
		  
		background-color: #eeeeee;
		position: relative;
		margin-top: 5em;
		margin-bottom: 5em;
		padding-bottom: 6em;
		min-height: 100%;
		font-family: Arial, sans-serif;
		
		}
		

	/************************
			
	*************************/
	
		#playerinfo {
		
		position: fixed;
		right: 0;
		top: 0;
		left: 0;
		padding: 1em;
		background-color: #ffffff;
		font-size: 0.7em;
		text-align: center;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
		
		}
			
		#playerinfo div {
		
		height: auto;
		width: auto;
		font-size: 2em;
		text-align: center;
		background-color: #ffffff;
		
		}
		
		#spielbrett {
		
		position: fixed;
		top: 10em;
		
		}
		

		div {
		
		height: 10em;
		width: 10em;
		float: left;
		margin: 1em;
		text-align: center;
		background-color: #7a0033;
		
		}
		
		
		.open {
		
		background-color: grey;
		
		}
		
		.hidden {
		
		background-color: #7a0033;
		
		}
		
		.taken {
		
		background-color: #3f3f3f;
		
		}
		
		
	/************************
			player info
	*************************/
	
		h2 {
		
		font-size: 1em;
		
		}